body{
    border: 2px solid red;
    background: rgb(24, 23, 23);
    text-align: center;
    width: 80%;height: 100%;
    margin: auto;
    margin-top: 200px;
    border-radius: 20px;
    color: white;
}
